#login_img{
    background-image: url('img/login.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 4px;
}
.rundown-pre{
    background-color: #171819;
    color: blanchedalmond;
}
.rundown-break{
    background-color: #03cdc6;
    padding: 0px;
}
tr.rundown-break-row{
    display: table-row; line-height: 0.3;
}
.tooltip-inner {
    max-width: 450px!important;
}
.rundown-p{
    margin: 0!important;
}
.dropdown-toggle:focus{
    outline: none;
}
.btn-custom{
    background-color: #009ac5;
    color: #fff;
    border-color: #3490dc;
}
.btn-custom:hover{
    color: #fff;
    background-color: #2fa4cd;
    border-color: #2176bd;
}
.bg-custom{
    background-color: #49a9d0!important;
    color: #fff;
}
.table .thead-custom th {
    color: #fff;
    background-color: #49a9d0!important;
    border-color: #2176bd;
  }

#rundown-edit-table-wrap{
    width: 1360px; overflow-x: scroll;
}
.overflow-hidden{
    white-space: nowrap; overflow: hidden; text-overflow:ellipsis;
}
.rundown-checkbox{
    display: block; background-color: indigo; margin: 5px auto;
}
.hiddenRow{
    padding: 0!important;
}
.meta-container{
    padding-left: 50px;
}
.rundown-form-buttons{
    margin-top: 5px;
}
.form-unit{
    margin: 40px 0 0 -20px;
}
.list-group-item.active{
    background-color: #009ac5!important;
    color: #fff!important;
    border-color: #3490dc!important;
}
#mixer-inputs,
#mixer-keys
{
    min-height: 100px;
}
.mix-col{
    padding: 5px 0 0 0!important;
}
#mixer-inputs{ margin-right: 60px; position: relative; right: 20px; }
#mixer-keys{ padding-left: 15px;}

#sso-box{
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
#sso-box.saved{
    background-color: #91ffaf;
}

#caspar-content{
    max-height: 500px; overflow-y: scroll;
}
.selected td{
    background-color: #b4d9ea;
}
.hide{
    display: none;
}

.labbkillen{
    background-color: rgb(225, 231, 225); padding: 2px 5px 2px 0;
}