@font-face {
    font-family: ZillaSlab;
    src: url('/fonts/Zilla_Slab/ZillaSlab-Medium.ttf');
}
@font-face {
    font-family: flags;
    src: url('/fonts/FlagsColorWorld-6YnRM.ttf');
}
.flag{
    font-family: flags; font-size: 18pt;
}
a.flag{
    text-decoration: none;
}
h1,h2,h3{
    font-family: ZillaSlabBold;
}
.dashboard{
    color: #32a4cd;
}
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
#login_img{
    background-image: url('img/login.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 4px;
}
.rundown-pre{
    background-color: #171819;
    color: blanchedalmond;
}
.rundown-break{
    background-color: #03cdc6;
    padding: 0px;
}
tr.rundown-break-row{
    display: table-row; line-height: 0.3;
}
tr.rundown-break-row .dropdown-menu{
    line-height: 1.5;
}
.tooltip-inner {
    max-width: 450px!important;
}
.rundown-p{
    margin: 0!important;
}
.dropdown-toggle:focus{
    outline: none;
}
.btn-custom{
    background-color: #009ac5;
    color: #fff;
    border-color: #3490dc;
}
.btn-custom:hover{
    color: #fff;
    background-color: #2fa4cd;
    border-color: #2176bd;
}
.bg-custom{
    background-color: #49a9d0!important;
    color: #fff;
}
.bg-custom-dark{
    background-color: #257696!important;
    color: #fff;
}
#editor-menu .active{
    background-color: #257696!important;
}
.table .thead-custom th {
    color: #fff;
    background-color: #49a9d0!important;
    border-color: #2176bd;
}
#rundown-editor{
    height: 130px;
}
#rundown-edit-table-wrap{
    width: 1360px; overflow-x: scroll;
}
.overflow-hidden{
    white-space: nowrap; overflow: hidden; text-overflow:ellipsis;
}
.rundown-checkbox{
    display: block;  margin: 38px auto;
}
.hiddenRow{
    padding: 0!important;
}
.meta-container{
    padding-left: 50px;
}
.rundown-form-buttons{
    margin-top: 5px;
}
.form-unit{
    margin: 40px 0 0 -20px;
}
.list-group-item.active{
    background-color: #009ac5!important;
    color: #fff!important;
    border-color: #3490dc!important;
}
#mixer-inputs,
#mixer-keys
{
    min-height: 100px;
}
.mix-col{
    padding: 5px 0 0 0!important;
}
#mixer-inputs{ margin-right: 60px; position: relative; right: 20px; }
#mixer-keys{ padding-left: 15px;}

#sso-box{
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
#sso-box.saved{
    background-color: #91ffaf;
}
#roleList li{
    list-style: none;
}

#caspar-content{
    max-height: 500px; overflow-y: scroll;
}
.selected td{
    background-color: #b4d9ea;
}
.hide{
    display: none;
}

.rundown-dropdown-link{
    background-color: rgb(225, 231, 225); padding: 2px 5px 2px 0;
}
.dropdown-item-custom{
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

  #gfxDataModal ul{
      list-style: none;
      margin: 0;
      padding: 0;
  }
  
  #gfxDataModal h1{
      background: #2fa4cd;
      margin:0;
      padding: 10px 20px;
      font-size: 24px;
      color: white;
  }
  
  
  #gfxDataModal li {
      background: #fff;
      height: 40px;
      line-height: 40px;
      color: #666;
  }
  
  
  #gfxDataModal li:nth-child(2n){
      background: #f7f7f7;
  }
  
  
  
  #gfxDataModal span.delete{
     background: #e74c3c;
      height: 40px;
      margin-right: 20px;
      text-align: center;
      color: white;
      width: 0;
      display: inline-block;
      transition: .3s linear;
      opacity: 0
  }
  #gfxDataModal .badge{
      margin-right: 5px;
  }
  
  
  
  #gfxDataModal li:hover{
      cursor: pointer;
  }
  
  
  #gfxDataModal li:hover span {
      width: 40px;
      opacity: 1.0;
  }
  
  input.gfxData{
    border-style:solid;
    border:none;
  }
  #add-todo{
      font-size: 18px;
      background: #F5F5F5;
      color: #2fa4cd;
      width: 100%;
      border: none;
      box-sizing: border-box;
      padding: 13px 13px 13px 20px;
      display: none;
  }
  
  #gfxDataModal input:focus{
      border: 2px solid #2fa4cd;
      background: white;
      outline: none;
  }
  
  
  #gfxDataModal .completed{
    text-decoration: line-through;
    color: grey;
  }
  
  
  #gfxDataModal li.over {
    border: 1px dashed grey;
  }
  .user-active{
      color: red;
      font-size: 6pt!important;
      position: relative;
      right: 10px;
  }